.square-collab {
    box-sizing: border-box;
    background-color: #ecf0f1;
    border: 2px solid #9b59b6;
    width: 33.333%;
    height: 33.333%;
    font-size: 8vw;
    color: #1abc9c;
    cursor: pointer;
    vertical-align: top;
    outline: none;
}